/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.DS_Store
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
composer.lock
